/* <----------------------------- TEXT STYLING GOBAL --------------------> */

/*  GIGA-LARGE SCREEN ??? */

/* TRAINING FORMS */

.mobileParagraph {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 300;
}

.textHeaderPinkMobile {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 500;
  color: #f5aac9;
}

.title {
  color: #fff;
  font-size: 64px;
}

.trainingForms p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  margin: 0;
}
.trainingForms h3 {
  color: #fff;
  font-size: 18px;

  font-weight: 500;
}
.homeParagraph {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 300;
}

p {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-weight: 300;
}

@media screen and (max-width: 1800px) {
  .trainingForms p {
    color: #fff;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 15.75px;
    margin: 0;
  }
  .trainingForms h3 {
    font-size: 13.5px;
    color: #fff;
    font-weight: 500;
  }

  .title {
    color: #fff;
    font-size: 48px;
  }

  p {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 300;
  }

  .homeParagraph {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 300;
  }
  h1 {
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    font-weight: 500;
  }
}

@media screen and (max-width: 1200px) {
  /* .trainingForms p {
    color: #fff;
    font-size: 9px;
    font-weight: 300;
    line-height: 10.5px;
    margin: 0;
  }
  .trainingForms h3 {
    color: #fff;
    font-size: 9px;

    font-weight: 500;
  }
  p {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: lighter;
  } */
}

/* -------------------------------------------- */

/* LARGE LAPTOP/DESKTOP */

@media screen and (max-width: 1800px) {
}

/* LAPTOP REGULAR */

@media screen and (max-width: 1200px) {
  .homeParagraph {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: lighter;
  }
  h1 {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-weight: 500;
  }
}

/* SMALLER SCREENS/IPAD */

.textHeaderPink {
  color: #f5aac9;
  font-size: 24px;
  line-height: 28px;
}
@media screen and (max-width: 1200px) {
  .textHeaderPink {
    color: #f5aac9;
    font-size: 12px;
    line-height: 14px;
  }
}

.pinkHr {
  border: 3px solid #f5aac9;
  opacity: 1;
  width: 112px;
}
.pinkHrMobile {
  border: 2px solid #f5aac9;
  background-color: #f5aac9;
  opacity: 1;
  width: 75px;
}

.map-container {
  height: 100%;
  width: 100%;
}

.kartaBild {
  background-image: url("../assets/images/kartaPrint.png");
  width: 100%;
  height: auto;
  zoom: 80%;
  margin-left: 60px;
}
