.sectionWrapper {
  height: 120vh;
}

.bgDivTwo {
  transform: rotate(180deg);
  z-index: 0;
}

.bLogoBG1 {
  display: flex;
  position: absolute;
  opacity: 0.2;
  width: 825px;
  height: 1037px;
  padding-top: 40px;
}
.bLogoBG2 {
  display: flex;
  position: absolute;
  opacity: 0.2;
  width: 825px;
  height: 1037px;
  padding-bottom: 40px;
}
.textOne {
  color: #fff;
  font-size: 64px;
  line-height: 76px;
}

.desktop {
  width: 660px;
  height: 829px;
  position: absolute;
  opacity: 0.2;
  margin-bottom: 50px;
}

.desktop2 {
  width: 660px;
  height: 829px;
  position: absolute;
  opacity: 0.2;
  transform: rotate(180deg);
}

.bLogoBG {
  display: none;
}
.textTwo {
  color: #fff;
  font-size: 32px;
  line-height: 38px;
  padding: 24px 0px 24px 0px;
}

@media screen and (max-width: 1400px) {
  .desktop {
    display: none;
  }

  .bLogoBG {
    display: flex;
    position: absolute;
    opacity: 0.2;
    width: 800px;
    height: 1000px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .bLogoBG {
    width: 400px;
  }
}

/* iphone 12 size  */
@media screen and (max-width: 400px) {
  .desktop {
    display: none;
  }

  .desktop2 {
    display: none;
  }

  .textOne {
    font-size: 32px;
    line-height: 38px;
  }
  .textTwo {
    font-size: 16px;
    line-height: 19px;
    padding-top: 0;
  }

  .sectionWrapper {
    height: 65vh;
    padding: 0 !important;
  }

  .bLogoBG {
    display: flex;
    position: absolute;
    opacity: 0.2;
    width: 370px;
    height: 465px;
    padding-top: 40px;
  }
}
