.d-sm-inline.d-md-inline .nav-link-text::before {
  content: "— ";
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bambaLogo {
  width: 178px;
  height: 40px;
}

/* iPhone PRO MAX  */

.mobileButton {
  color: black;
  font-size: 18px;
  font-weight: 500;
  background-color: #d9d9d9;
  border-radius: 0;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 2em;
}

#hoverLink {
  color: #fff;
  font-size: 18px;
  line-height: 21.8px;
}
#navBar {
  align-items: start;
}

@media screen and (min-width: 1000px) {
  #navBar {
    align-items: center !important;
  }
}

.active-link {
  border-bottom: 4px solid #3c469c;
}

#hoverLink:hover {
  color: #f5aac9 !important;
  transition: all 0.2s ease-in-out !important;
}

#bookingBtn {
  height: 50px;
  width: 147px;

  font-size: 18px;
  color: #000;
  font-weight: 500;
  padding: 0.9em 2.2em 0.9em 2.2em;
  margin-left: 7em;
}

#bookingBtn:hover {
  background-color: #f5aac9 !important;
  color: #000;
  transition: all 0.2s ease-in-out !important;
}

@media screen and (max-width: 1800px) {
  #hoverLink {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  }

  #bookingBtn {
    font-size: 13px;
    color: #000;
    font-weight: 500;
    padding: 0.6em 1.7em 0.6em 1.7em;
    margin-left: 7em;
  }
}

@media screen and (max-width: 1000px) {
  .alignNavbar {
    align-items: center !important;
  }
  .navbar {
    padding: 24px 0px 24px 0px;
  }
  .navbar {
    height: 72px;
  }
  .bambaLogo {
    width: 114px;
    height: 26px;
  }
}
@media screen and (max-width: 430px) {
  .navbar {
    padding: 24px 0px 24px 0px;
    height: 72px;
  }
  .bambaLogo {
    width: 114px;
    height: 26px;
  }
}

/* iPhone 12 size  */

@media screen and (max-width: 400px) {
  .navbar {
    padding: 24px 0px 24px 0px;
  }

  .bambaLogo {
    width: 114px;
    height: 26px;
  }
}
