@font-face {
  font-family: "N27";
  src: url("./fonts/n27-regular-webfont.woff") format("woff"),
    url("./fonts/n27-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "N27" !important;
  text-decoration: none !important;
  outline: 1px solid limegreen !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
