.contactBanner {
  background-image: url("../assets/images/contactPic.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 100%;
}
.contactScreenInfo p {
  color: #fff;
  font-size: 18px;
  line-height: 21.6px;
  margin: 0;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.contactBanner p {
  color: #f5aac9;
  line-height: 76.8px;
  font-size: 64px;
  font-weight: 500;
  padding-top: 10%;
}

.contactBanner p {
  color: #f5aac9;
  line-height: 76.8px;
  font-size: 64px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
