.homeTitle {
  font-size: 48px;
  line-height: 57px;
  color: #fff;
  font-weight: 400;
}

.homeBanner {
  background-image: url("../assets/images/Start_Desktop.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.homeBanner p {
  color: #f5aac9;
  line-height: 76.8px;
  font-size: 64px;
  font-weight: 500;
}

/* ASFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDAFADSFDASFADSFDSAFDSFDA */

.homeBannerMobile p {
  position: absolute;
  color: #f5aac9;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  margin-top: 50%;
}

@media screen and (max-width: 1800px) {
  .homeParagraph {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
  }

  .homeBanner p {
    color: #f5aac9;
    line-height: 115px;
    font-size: 72px;
    font-weight: 500;
    padding-top: 10%;
    font-weight: 500;
  }

  .textHeaderPink {
    color: #f5aac9;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}

/* 
  .homeParagraph {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 300;
  }



*/

@media screen and (max-width: 1800px) {
  .homeTitle {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
  }
}
@media screen and (max-width: 1200px) {
  .homeTitle {
    font-size: 24px;
    line-height: 28px;

    color: #fff;
  }
}
