.headerBox {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 800px) {
  .headerBox {
    display: flex;
    flex-direction: column;
  }
}
