.homeTitle {
  font-size: 48px;
  line-height: 57px;
  color: #fff;
  font-weight: 400;
}

.homeBanner {
  background-image: url("../assets/images/homePic.jpg");
  background-size: cover;
  background-position: center center;
  height: 1200px;
  width: 100%;
  margin-bottom: 200px;
}

.homeBanner p {
  color: #f5aac9;
  line-height: 115px;
  font-size: 96px;
  font-weight: 500;
  padding-top: 10%;
  font-weight: 500;
}

.homeParagraph {
  font-size: 24px;
  line-height: 28.8px;
  color: #fff;
  font-weight: 300;
  /* margin-bottom: 4%; */
}

@media screen and (max-width: 1800px) {
  .homeParagraph {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
  }

  .textHeaderPink {
    color: #f5aac9;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}

/* 
  .homeParagraph {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 300;
  }



*/

@media screen and (max-width: 1800px) {
  .homeTitle {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
  }
}
@media screen and (max-width: 1200px) {
  .homeTitle {
    font-size: 24px;
    line-height: 28px;

    color: #fff;
  }
}
