/* IMAGE BANNER */

.trainingBanner {
  background-image: url("../assets/images/Traning_Desktop.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
}

.trainingBanner p {
  color: #f5aac9;
  line-height: 60.8px;
  font-size: 52px;
  font-weight: 500;
}

/* MOBILE MOBILE MOBILE MOBILE AOFDIOASIDFAOISDHFOIASDHFOIASHDF */

.mobileBanner {
  position: relative;
}

.mobileBanner p {
  position: absolute;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  top: 50%;
  transform: translateY(-50%);
}

.trainingLinks {
  padding-top: 5%;
  padding-bottom: 15%;
}

/* SCREEN SIZES */

@media screen and (max-width: 1401px) {
  .trainingLinks div {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 1050px) {
  .trainingLinks div {
    font-size: 38px !important;
  }
}
@media screen and (max-width: 430px) {
  .trainingLinks div {
    font-size: 28px !important;
    line-height: 44px;
  }
}
@media screen and (max-width: 430px) {
  .trainingLinks div {
    font-size: 24px !important;
    line-height: 44px;
  }
}
